html {
	padding: 0;
	margin: 0;
	overflow: hidden;	
	overflow-x:hidden; 
	overflow-y:hidden;  
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial-BoldMT;
	background: #FFFFFF;
	overflow: hidden;	
	overflow-x:hidden; 
	overflow-y:hidden;  

	height: 100%;
}

* {
	padding: 0;
	margin: 0;
}

.header {
	top: 0;
	width: 95%;
	height: 80px;
	padding: 0;
	margin: 0;
	position: relative;
	display: table;
	padding-left: 2.5%;
	padding-right: 2.5%;
	background-color: white;
	/*display: flex;*/
}

.header__logo {
	white-space: nowrap;
	display: table-cell;
    vertical-align: top;
	/*width: 100%;*/

	padding-right: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
	

}

a {
    text-decoration: none;
    color: inherit;
}

.header__menu {
	width: 100%;
	white-space: nowrap;
	display: table-cell;
    vertical-align: top;
    padding-top: 20px;
    position: relative;

}


.header__menu__list {
    white-space: nowrap;

	line-height: 40px;
	list-style-type: none;
	list-style: none;
	display: block;
}

.header__menu__item {
	position: relative;
	white-space: nowrap;
	display: list-item;
	margin: 0 18px;
	list-style-type: none;
	opacity: 0.6;
	font-size: 16px;
	color: #333333;
	float: left;


}

.active {
	opacity: 1;
}


.section  {
	display: none;
	right: 0;
	float: right;
	position: relative;
}




.line {
	width: 100%;
	border: none; /* Убираем границу для браузера Firefox */
    color: #DCDCDC; /* Цвет линии для остальных браузеров */
    background-color: #DCDCDC; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
    margin: 0;
}


.footer {
	position: absolute;
	bottom: 0;
	width: 95%;

	font-size: 12px;
	font-family: ArialMT;
	color: #858585;
	letter-spacing: 0.01px;
	text-align: left;

	
	margin-top: 20px;
	padding-left: 2.5%;
	padding-right: 2.5%;
	background-color: white;
	
	/*min-width: 800px;*/
	/*min-height: 20%;*/

}

.footer__menu {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	list-style-type: none;

	/*margin-left: 30px; */
	/*width: 450px;*/

}


.footer__menu__item {
	position: relative;
	margin: 15px 15px 15px 0;
}

.copy {
	margin-top: 15px;
    right: 2.5%;
    /*padding-right: 2.5%;*/
    text-align: right;
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	white-space: nowrap
}




.content {
	display: flex;
	flex-wrap: wrap;
	/*min-width: 1000px;*/
	height: 100%;
}



.main {	
	width: calc(92%/2);
	color: #333333;
	padding: 0 1.5% 0 2.5%;
	height: 100%;
}


.main__header, .script__header, .devices__header {
	font-size: 18px;
	margin: 25px 0 20px 0;

}

.main__block {
	background: url('img/bg@1x.png') no-repeat;
	background-size: 100% 100%; 
	/*width: 630px;*/
	height: 331px;
	/*min-width: 630px;*/
}

.main__block__left {
	position: relative;
	top: 20px;
	left: 30px;
	float: left;
}


.main__block__hello {
	font-size: 27px;
	width: 100%;
	height: 30px;
	margin: 5px 0;
	line-height: 31px;
}

.main__block__state {
	font-family: ArialMT;
	font-size: 14px;
	width: 360px;
	height: 16px;
}


.main__block__temperature{
	text-decoration: none;
	margin: 25px 0;

}

.main__block__temperature__item{
	display: inline-block;
	font-family: ArialMT;
	font-size: 14px;
	color: #858585;
	margin-right: 5px;
}


.main__block__temperature__item span{
	font-family: Arial-BoldMT;
	font-size: 36px;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	margin: 9px 0px;
	margin-right: 10px;
}



.main__block__right {
	float: right;
	position: static;
	width: 210px;
	max-height: 331px;
	right: 0;

}


.main__block__scripts {
	/*padding-top: 5px;*/
	top: 0;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	position: relative;
	right: 20px;	
	bottom: 15px;
	max-height: 331px;
	overflow-y: scroll;

}

.main__block__scripts__item, .script__blocks__item, .devices__blocks__item  {
	min-width: 200px;
	min-height: 120px;
	margin-top: 15px;
	/*display: inline-block;*/
	background: #F7F7F7;
	border-radius: 20px;
	list-style-type: none;
	position:relative;

}



.main__block__scripts__item__content, .script__blocks__item__content, .devices__blocks__item__content {
	margin-top: 15px;
	margin-left: 15px;
}

.main__block__scripts__item__content__text, .script__blocks__item__content__text, .devices__blocks__item__content__text {
	bottom: 0;
	position: absolute;	
	overflow-x:hidden;
}


.main__block__scripts__item__name, .script__blocks__item__name, .devices__blocks__item__name {
	font-family: Arial-BoldMT;
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	width: 170px;
	margin-bottom: 7px;
	white-space: pre-line;
}

.main__block__scripts__item__describe, .script__blocks__item__describe, .devices__blocks__item__describe {
	font-family: ArialMT;
	font-size: 12px;
	color: #858585;
	letter-spacing: 0;
	text-align: left;
	margin-bottom: 15px;
}


.main__block__scripts__item__next {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 18px;

}


.script {	
	width: calc(92%/2);
	color: #333333;
	padding: 0 2.5% 0 1.5%;
	/*overflow: hidden;*/
	/*z-index: 1;*/
}

.script__blocks {
	/*width: 100%;*/
	/*height: 100%;*/
	/*width: 1000px;*/
	overflow: hidden;
	/*overflow-x: scroll;*/

	width: 120%;
	position: relative;
	
}

.script__blocks__list{
	overflow: hidden;
	/*overflow-x: scroll;*/
	/*width: 200%;*/
	max-height: 330px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: relative;
	align-content: flex-start;
}

.script__blocks__list__horizontal {
	/*width: 100%;*/
	height: 100%;
	transition: 1s;
	display: flex;
	/*flex-direction: row;*/
	/*flex-wrap: wrap;*/
	position: relative;
	/*align-items: flex-start;*/
	align-content: stretch;
	

}

.script__blocks__item {
	width: 200px;
	height: 100px;
	

	/*flex: 0 auto;*/
	margin: 0 20px 15px 0;
	min-height: 100px;
}

.script__blocks__item__active {
	background: #FFFFFF;
	box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

/*.script__header {
	width: 70%;
	display: inline;	
	/*margin-right: 0;
}*/

.script__header__nav__right_arrow, .devices__header__nav__right_arrow {
	transform: scale(-1, 1);
}

.devices__header__nav__left_arrow, .devices__header__nav__right_arrow, .script__header__nav__left_arrow, .script__header__nav__right_arrow {
	margin: 0 10px;
}

.script__header__nav, .devices__header__nav {
	float: right;
	margin: 0 15px;
}



.devices {
	overflow: hidden;
	width: 95%;
	color: #333333;
	padding: 0 2.5%;
}

.devices__header__title {
	float: left;
}


.devices__header__menu {
	display: flex;
	flex-wrap: nowrap;
}

.devices__header__list {
	margin: 0 15px;
	margin-top: -5px;
	text-decoration: none;
	text-decoration-style: none;
}

.devices__header__list__item {
	margin: 0 5px;
	display: inline-block;
	background: #F7F7F7;
	border-radius: 20px;
	cursor: default;
}

.devices__header__list__item:hover {
	background: #FFD93E;
}

.devices__header__list__item__active {
	margin: 0 5px;
	display: inline-block;
	background: #FFD93E;
	border-radius: 20px;
	cursor: default;
}


.devices__header__list__item__content {
	text-align: center;
	align-content: stretch;
	align-items: stretch;
	padding: 8px 16px;
	font-family: Arial-BoldMT;
	font-size: 13px;
	color: #000000;
	text-align: left;

}

.devices__header__nav {
	margin-top: -25px;
}


.devices__blocks {
	float: left;
	/*position: absolute;*/
	min-width: 100%;
}


.devices__blocks__slider {
	overflow: hidden;
	height: 120px;
	width: 100%;
	position: relative;
	min-width: 100%;
}

.devices__blocks__list {
	right: 0;
	overflow: hidden;
	height: 120px;
	position: relative;
	/*float: left;*/
	width: 100%;
	/*position: absolute;*/
	transition: 1s;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;

}

.devices__blocks__item {
	margin: 0;
	margin-right: 15px;
	/*position: relative;*/

}

.devices__header__list__item__active__img {
	display: none;
}






.xiaomi_warm_floor, .xiaomi_yeelight_led_smart_bulb, .elgato_eve_degree_connected{
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;

    /*transform: scale(1);*/
  	/*opacity: 0;*/
  	transition: 1s;
}


.xiaomi_warm_floor__body, .xiaomi_yeelight_led_smart_bulb__body, .elgato_eve_degree_connected__body {
	position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.xiaomi_warm_floor__body__main, .xiaomi_yeelight_led_smart_bulb__body__main, .elgato_eve_degree_connected__body__main {
	position: relative;
	width: 630px;
    height: 343px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    
    background: #FFFFFF;
	border-radius: 20px;

}

.xiaomi_yeelight_led_smart_bulb__body__main, .elgato_eve_degree_connected__body__main {
	height: 250px;
}

.xiaomi_warm_floor__buttons, .xiaomi_yeelight_led_smart_bulb__buttons, .elgato_eve_degree_connected__buttons {
	width: 630px;
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	margin: auto;
	left: 0;
}


.xiaomi_yeelight_led_smart_bulb__buttons, .elgato_eve_degree_connected__buttons {
}

.xiaomi_warm_floor__cancelButton, .xiaomi_warm_floor__acceptButton, .xiaomi_yeelight_led_smart_bulb__cancelButton, .xiaomi_yeelight_led_smart_bulb__acceptButton,
.elgato_eve_degree_connected__cancelButton, .elgato_eve_degree_connected__acceptButton {
	position: relative;
	border-radius: 20px;
	width: 307px;
	height: 60px;
	margin-top: 21px; 
}

.xiaomi_warm_floor__body__main__left, .xiaomi_yeelight_led_smart_bulb__body__main__left, .elgato_eve_degree_connected__body__main__left {
	float: left;
	text-align: left;
	position: relative;
	color: #333333;
	width: 300px;
	margin: 0;
	left: 30px;
	top: 30px;

}

.xiaomi_yeelight_led_smart_bulb__body__main__left, .elgato_eve_degree_connected__body__main__left {
	width: 500px;
}


.xiaomi_warm_floor__body__main__left__name, .xiaomi_yeelight_led_smart_bulb__body__main__left__name, .elgato_eve_degree_connected__body__main__left__name {
	font-family: Arial-BoldMT;
	font-size: 27px;
}


.xiaomi_warm_floor__body__main__left__descrption, .xiaomi_yeelight_led_smart_bulb__body__main__left__descrption, .elgato_eve_degree_connected__body__main__left__descrption {
	margin-top: 5px;
	font-family: ArialMT;
	font-size: 14px;
}


.xiaomi_warm_floor__body__main__right, .xiaomi_yeelight_led_smart_bulb__body__main__right, .elgato_eve_degree_connected__body__main__right {
	float: right;
	/*text-align: right;*/
	position: relative;
	color: #333333;
	width: 100px;
	margin: 0;
	right: 30px;
	top: 30px;
	display: flex;
	flex-flow: row nowrap;
}

.xiaomi_yeelight_led_smart_bulb__body__main__right {
	right: 0px;
	width: 70px;
}


.xiaomi_warm_floor__body__main__right__temperature .xiaomi_yeelight_led_smart_bulb__body__main__right__temperature, .elgato_eve_degree_connected__body__main__right__temperature {
	
	font-family: Arial-BoldMT;
	font-size: 36px;
	color: #333333;
	letter-spacing: 0;
}


.xiaomi_warm_floor__body__main__right__temperature__icon, .xiaomi_yeelight_led_smart_bulb__body__main__right__temperature__icon, .elgato_eve_degree_connected__body__main__right__temperature__icon {
	margin-top: -5px;
	height: 40.2px;
}



.xiaomi_warm_floor__cancelButton__content, .xiaomi_warm_floor__acceptButton__content, .xiaomi_yeelight_led_smart_bulb__cancelButton__content, .xiaomi_yeelight_led_smart_bulb__acceptButton__content,
.elgato_eve_degree_connected__cancelButton__content, .elgato_eve_degree_connected__acceptButton__content {
	font-family: Arial-BoldMT;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
  	line-height: 60px;
}

.xiaomi_warm_floor__acceptButton, .xiaomi_yeelight_led_smart_bulb__acceptButton, .elgato_eve_degree_connected__acceptButton {
	margin-right: 8px;
	background: #FFD93E;

}

.xiaomi_warm_floor__acceptButton:hover, .xiaomi_yeelight_led_smart_bulb__acceptButton:hover, .elgato_eve_degree_connected__acceptButton:hover {
	background-color: #FFFF00;
}


.xiaomi_warm_floor__cancelButton, .xiaomi_yeelight_led_smart_bulb__cancelButton, .elgato_eve_degree_connected__cancelButton {
	margin-left: 8px;
	background: #FFFFFF;
}

.xiaomi_warm_floor__cancelButton:hover, .xiaomi_yeelight_led_smart_bulb__cancelButton:hover, .elgato_eve_degree_connected__cancelButton:hover {
	background-color: #F5F5F5;
}


.xiaomi_warm_floor__body__main__oval {
	height: 100%;
	width: 100%;
	position: absolute;

	margin: auto;
}

.xiaomi_warm_floor__body__main__oval__background {
	position: relative;
	margin-top: 100px;
	height: 178px;
	width: 178px;

}



/*
.xiaomi_warm_floor__body__main__oval__border {
	margin-top: 100px;
	position: absolute;
	height: 178px;
	width: 178px;
}*/



.xiaomi_yeelight_led_smart_bulb__body__main__menu, .elgato_eve_degree_connected__body__main__menu {
	width: 100%;
	top: 50px;
	position: relative;
	display: flex;
	text-decoration: none;
	list-style: none;
	list-style-type: none;
	flex-flow: row nowrap;
	left: 30px;
}



.xiaomi_yeelight_led_smart_bulb__body__main__menu__item, .elgato_eve_degree_connected__body__main__menu__item {
	font-family: Arial-BoldMT;
	font-size: 13px;
	color: #000000;
	text-align: left;
	background: #F2F1F0;
	border-radius: 20px;
	padding: 7px 12px;
	margin-right: 10px;
}

.xiaomi_yeelight_led_smart_bulb__body__main__menu__item__active, .elgato_eve_degree_connected__body__main__menu__item__active{
	background: #FFD93E;
}


.xiaomi_yeelight_led_smart_bulb__progress {
	top: 60px;
	position: absolute;
  	border-radius: 30px;
  	left: 15px;
  	z-index: 4;
  	width: 95%;
}

.xiaomi_yeelight_led_smart_bulb__progress__bar {
  	min-height: 60px;
	background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
	border-radius: 30px; 
	z-index: 3;
}



.xiaomi_yeelight_led_smart_bulb__progress__circle {
	top: 78px;
    position: relative;
    display: inline-block;
    margin: 1em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    vertical-align: middle;
    border: 0.3em solid #fff;
    z-index: 10;
}

.xiaomi_yeelight_led_smart_bulb__progress__circle:active {
	background-color: #F5F5F5;
}



.xiaomi_yeelight_led_smart_bulb__progress__min {
	position: absolute;
	bottom: 12px;
	left: 30px;
}

.xiaomi_yeelight_led_smart_bulb__progress__max {
	position: absolute;
	bottom: 12px;
	right: 30px;
}






@media (max-width: 1250px){

	
	.main__block__right {
		/*float: left;*/
		position: relative;
		/*padding: 10px 0px;*/
		width: 100%;
		/*height: 150px;*/
		/*max-height: 150px;*/


	}

	.main__block__scripts {
		text-decoration: none;
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		position: relative;
		max-width: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;

		padding: 0;
		right: 0px;
		margin: 0 20px;
		bottom: 15px;
		top: 15px;

	}
	
	.main__block__scripts__item {
		margin: 0 20px 0px 0;
		text-decoration: none;
		text-decoration-style: none;
		list-style: none;
		
		position:relative;

	}



	.main__block__hello {
		font-size: 18px;
	}

	.main__block__state {
		font-size: 12px;
	}

	.main__block__temperature__item {
		font-size: 12px;
	}
	
	.main__block__temperature__item span {
		font-size: 24px;
	}

	.main__block__temperature__item img {
		width: 20px;
		position: relative;
		/*top: 2px;
		left: -4px;*/
	}


}






















@media (max-width: 840px){
/*????*/
	header {
		width: 100%;
		height: 80px;
		display: block:
		background-color: white;
		top: 0; 
		/*position: fixed;*/
		z-index: 0;
	}


	.header {
		position: fixed;
		/*z-index: 200;*/
	}

	html {
		overflow-y: scroll;
	}

	body {
		overflow-y: scroll; 
	}


	.footer {
		position: relative;
		bottom: 0;

	}

	.footer__menu {
		position: relative;
		flex-direction: column;
		flex-wrap: wrap;
		bottom: 0;
		justify-content: center;
		align-items: center;
		margin: 2px 0;
		padding-top: 10px;

	}

	.footer__menu__item {
		text-align: center;
		margin: 1px 0;
		border: 2px #F7F7F7 solid;
		border-radius: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 100%;
		position: relative;


	}


	.copy {
		position: relative;
		padding: 0;
		margin: 15px auto 15px auto;
		align-content: center;
		justify-content: center;

	}


	.content {
		min-width: 0;
	}

	.header {
		padding-right: 2.5%;
		padding-left: 2.5%;
	}


	.header__menu {
		width: 0;
	}

	.header__menu__item, .main__header, .line {
		display: none;  
        height: auto; 
        
	}

	.section {
		display: table-cell;
		padding-top: 2px;
	}

	.header__menu__button {
	}

	.logo, .main, .footer__menu {
		/*margin-left: 5%;*/
		/*margin-right: 20px;*/
	}
	
	.main, .script {
		width: 95%;
		margin-top: 0px;
		padding: 0 2.5%
	}

	.main__block {
		width: 100%;
		border-radius: 20px;
		height: 300px;

	}


	.main__block__hello {
		font-size: 18px;
	}

	.main__block__state {
		font-size: 12px;
	}

	.main__block__temperature__item {
		font-size: 12px;
	}
	
	.main__block__temperature__item span {
		font-size: 24px;
	}

	.main__block__temperature__item img {
		width: 20px;
		position: relative;
		/*top: 2px;
		left: -4px;*/
	}

	.main__block__right {
		/*float: left;*/
		position: relative;
		/*padding: 10px 0px;*/
		width: 100%;
		/*height: 150px;*/
		/*max-height: 150px;*/

	}

	.main__block__scripts {
		text-decoration: none;
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		position: relative;
		max-width: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;


		padding: 0;
		right: 0px;
		margin: 0 20px;
		bottom: 15px;

	}
	
	.main__block__scripts__item {
		margin: 0 20px 0px 0;
		text-decoration: none;
		text-decoration-style: none;
		list-style: none;
		
		position:relative;

	}

	.main__header, .script__header, .devices__header {
		margin-bottom: 20px;

	}

	.horizontal {
		/*display: inline-block;*/
	}


	.script__blocks__list {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
	}


	.script__blocks {
		float: left;
	}

	.script__blocks__item {
		margin: 0;
		margin-right: 15px;

	}



	
	.script__blocks {
		/*overflow: hidden;*/
		/*overflow-x: scroll;*/

		max-height: 120px;
		min-width: 100%;
		
	}

	.script__blocks__list{
		overflow: hidden;
		/*overflow-x: scroll;*/
		max-height: 120px;
		height: 120px;
		float: left;
		min-width: 1935px;


		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		position: relative;
		margin: 20px 0;


	}

	.script__blocks__list__horizontal {
		min-width: 100%;
		position: relative;
		align-items: stretch;

		max-height: 120px;
		height: 120px;
		overflow: hidden;
		overflow-x: scroll;
		/*white-space: nowrap;*/

	}

	.script__blocks__item {
		/*margin: 0 20px 15px 0;*/
		min-height: 100px;
	}







	.devices__blocks, .script__blocks {
		width: 100%;
		/*min-width: auto;*/
	}



	.devices__blocks__list {
		overflow-x: scroll;
		/*min-width: 100%;*/
		margin: 20px 0;

	}

	

	/*пример с яндекс диска*/
	/*.devices__header {
		display: flex;
		justify-content: space-between;
		max-width: 425px;
	}*/

	.devices__header__list__item {
		display: flex;
		flex-direction: column;
		position: relative;
		right: 0;
		opacity: 0;
		transition: 1s;
		transform: scaleX(0);
  		transform-origin: top;
  		visibility: hidden;
  		transition-property: all;
	}

	.devices__header__list {
		transition: 1s;
		position: absolute;
		right: 2.5%;
		z-index: 2;
		border-radius: 20px;
		justify-content: center;
		transition-property: all;
		margin-left: 0;
		margin-right: 0;
		cursor: default;

	}

	.devices__header__list__item__content {
		text-align: center;
		transition: 1s;


	}

	.devices__header__list__item, .devices__header__list__item__active {
		position: relative;
		transition: 1s;
		margin-bottom: 3px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.devices__header__list__item__active{
		/*margin: 0;*/
	}

	.devices__header__list__item:hover {
		background: #FFD93E;
	}

	.devices__blocks__slider {
		overflow-x: scroll;

		height: 140px;
		/*min-width: 101%;*/
		/*width: 100%;*/
		/*width: 100%;*/
	}

	.devices__blocks__list {
		/*min-width: 100%;*/
		/*width: 100%;*/
		/*overflow-x: scroll;*/
		/*left: 0;*/
	}


	.devices__header__list__item__click {
		transform: scaleX(1);
		position: relative;
		transition: 1s;
		transition-property: all;
		/*display: block;*/
		opacity: 1;
		text-align: center;
		visibility: visible;
		z-index: 2;

	}

	
	.devices__header__list__click {
		right: 2.5%;
		transition-property: all;
		transform: scaleX(1);
		transition: 1s;
		opacity: 1;
		visibility: visible;
		display: flex;
		flex-direction: column;
		position: absolute;
		background: #DCDCDC;

	}


	.devices__header__list__item__active__img {
		position: relative;
		top: 3px;
		left: 4px;
		display: inline-block;
	}

	.devices__header__menu {
		float: right;
	}


	.devices__header__nav, .script__header__nav {
		display: none;
	}









.xiaomi_warm_floor, .xiaomi_yeelight_led_smart_bulb {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 100; 
	max-width: 100%;

       
}


.xiaomi_warm_floor__body,  .xiaomi_yeelight_led_smart_bulb__body {
	position: absolute;
	max-width: 100%;
	height: 100%;

}

.xiaomi_warm_floor__body__main, .xiaomi_yeelight_led_smart_bulb__body__main {
	position: relative;
	width: 95%;
    min-height: 75%;
    text-align: center;
    margin: 0 2.5%;
    margin-top: 2.5%;
    
    background: #FFFFFF;
	border-radius: 20px;
	overflow: hidden;

}

.xiaomi_yeelight_led_smart_bulb__body__main {
}

.xiaomi_warm_floor__buttons, .xiaomi_yeelight_led_smart_bulb__buttons {
	width: 95%;
	margin: 0 2.5%;
	min-height: 20%;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
}

.xiaomi_yeelight_led_smart_bulb__buttons {
	top: 0;
}

.xiaomi_warm_floor__cancelButton, .xiaomi_warm_floor__acceptButton,
.xiaomi_yeelight_led_smart_bulb__cancelButton, .xiaomi_yeelight_led_smart_bulb__acceptButton {
	width: 100%;
	position: relative;
	border-radius: 20px;
	/*width: 307px;*/
	/*height: 60px;*/
	margin: 0;
	margin-top: 10px;
}

.xiaomi_warm_floor__body__main__left, .xiaomi_yeelight_led_smart_bulb__body__main__left {
	float: left;
	text-align: left;
	position: relative;
	color: #333333;
	width: 300px;
	margin: 0;
	left: 30px;
	top: 15px;

}

.xiaomi_warm_floor__cancelButton, .xiaomi_warm_floor__acceptButton, .xiaomi_yeelight_led_smart_bulb__cancelButton, .xiaomi_yeelight_led_smart_bulb__acceptButton,
.elgato_eve_degree_connected__cancelButton, .elgato_eve_degree_connected__acceptButton {
	height: 10%;
}

.xiaomi_warm_floor__cancelButton__content, .xiaomi_warm_floor__acceptButton__content, .xiaomi_yeelight_led_smart_bulb__cancelButton__content, .xiaomi_yeelight_led_smart_bulb__acceptButton__content,
.elgato_eve_degree_connected__cancelButton__content, .elgato_eve_degree_connected__acceptButton__content {
  	line-height: 45px;
}


.xiaomi_warm_floor__body__main__left__name, .xiaomi_yeelight_led_smart_bulb__body__main__left__name {
	font-size: 18px;
}


.xiaomi_warm_floor__body__main__left__descrption, .xiaomi_yeelight_led_smart_bulb__body__main__left__descrption {
	margin-top: 5px;
	font-size: 12px;
}


.xiaomi_warm_floor__body__main__right, .xiaomi_yeelight_led_smart_bulb__body__main__right {
	display: none;
}


.xiaomi_warm_floor__cancelButton, .xiaomi_yeelight_led_smart_bulb__cancelButton {
	margin-left: 0;
}

.xiaomi_yeelight_led_smart_bulb__body__main__menu {
	/*flex-wrap: wrap;*/
	/*float: left;*/
	top: 20px;
	width: 90%;
	overflow-x: scroll;
}

.xiaomi_yeelight_led_smart_bulb__body__main__menu__item {
	display: inline-block;
	white-space: pre;
	font-family: ArialMT;
	font-size: 13px;
	color: #000000;
	text-align: left;
}


.xiaomi_yeelight_led_smart_bulb__progress {
  	z-index: 4;
  	width: 100%;
  	height: 59%;
	top: 100px;
	position: absolute;
	margin-top: 10%;



	
}

.xiaomi_yeelight_led_smart_bulb__progress__bar {
	background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
	border-radius: 30px; 
	z-index: 3;
	left: -15px;
	transform: rotate(-90deg);
	position: relative;
	margin: auto auto;
	transform-origin: center center;
	width: 100%;

}



.xiaomi_yeelight_led_smart_bulb__progress__circle {
	right: 3.8%;
    position: relative;
    display: inline-block;
    margin: 1em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    vertical-align: middle;
    border: 0.3em solid #fff;
    z-index: 10;
}




.xiaomi_yeelight_led_smart_bulb__progress__min {
	position: absolute;
	bottom: 12px;
	left: 45px;
}

.xiaomi_yeelight_led_smart_bulb__progress__max {
	position: absolute;
	bottom: 12px;
	right: 50px;
}





}


