html {
	padding: 0;
	margin: 0;
	/*overflow: hidden;	*/
	overflow-x:hidden; 
	/*overflow-y:hidden;  */
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial-BoldMT;
	background: #FFFFFF;
	/*overflow: hidden;	*/
	overflow-x:hidden; 
	/*overflow-y:hidden;  */

	height: 100%;
}

* {
	padding: 0;
	margin: 0;
}

.header {
	top: 0;
	width: 95%;
	height: 80px;
	padding: 0;
	margin: 0;
	position: relative;
	display: table;
	padding-left: 2.5%;
	padding-right: 2.5%;
	/*display: flex;*/
}

.header__logo {
	white-space: nowrap;
	display: table-cell;
    vertical-align: top;
	/*width: 100%;*/

	padding-right: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
	

}

a {
    text-decoration: none;
    color: inherit;
}

.header__menu {
	width: 100%;
	white-space: nowrap;
	display: table-cell;
    vertical-align: top;
    padding-top: 20px;
    position: relative;

}


.header__menu__list {
    white-space: nowrap;

	line-height: 40px;
	list-style-type: none;
	list-style: none;
	display: block;
}

.header__menu__item {
	position: relative;
	white-space: nowrap;
	display: list-item;
	margin: 0 18px;
	list-style-type: none;
	opacity: 0.6;
	font-size: 16px;
	color: #333333;
	float: left;


}

.active {
	opacity: 1;
}


.section  {
	display: none;
	right: 0;
	float: right;
	position: relative;
}




.line {
	width: 100%;
	border: none; /* Убираем границу для браузера Firefox */
    color: #DCDCDC; /* Цвет линии для остальных браузеров */
    background-color: #DCDCDC; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
    margin: 0;
}


.footer {
	position: relative;
	bottom: 0;
	width: 95%;
	/*height: 64px;*/

	font-size: 12px;
	font-family: ArialMT;
	color: #858585;
	letter-spacing: 0.01px;
	text-align: left;
	
	margin-top: 20px;
	padding-left: 2.5%;
	padding-right: 2.5%;
	/*min-width: 800px;*/
	/*min-height: 20%;*/

}

.footer__menu {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	list-style-type: none;
	/*margin-left: 30px; */
	/*width: 450px;*/

}


.footer__menu__item {
	position: relative;
	margin: 15px 15px 15px 0;
}

.copy {
	margin-top: 15px;
    right: 0;
    padding-right: 2.5%;
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	white-space: nowrap
}




.content {
	display: flex;
	flex-wrap: wrap;
	/*min-width: 1000px;*/
	height: 100%;
}



.main {	
	width: calc(92%/2);
	color: #333333;
	padding: 0 1.5% 0 2.5%;
	height: 100%;
}


.main__header, .script__header, .devices__header {
	font-size: 18px;
	margin: 30px 0 20px 0;

}

.main__block {
	background: url('img/bg@1x.png') no-repeat;
	background-size: 100% 100%; 
	/*width: 630px;*/
	height: 331px;
	/*min-width: 630px;*/
}

.main__block__left {
	position: relative;
	top: 20px;
	left: 30px;
	float: left;
}


.main__block__hello {
	font-size: 27px;
	width: 100%;
	height: 30px;
	margin: 5px 0;
	line-height: 31px;
}

.main__block__state {
	font-family: ArialMT;
	font-size: 14px;
	width: 360px;
	height: 16px;
}


.main__block__temperature{
	text-decoration: none;
	margin: 25px 0;

}

.main__block__temperature__item{
	display: inline-block;
	font-family: ArialMT;
	font-size: 14px;
	color: #858585;
	margin-right: 5px;
}


.main__block__temperature__item span{
	font-family: Arial-BoldMT;
	font-size: 36px;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	margin: 9px 0px;
	margin-right: 10px;
}



.main__block__right {
	float: right;
	position: static;
	width: 210px;
	max-height: 331px;
	right: 0;

}

/* хром, сафари 
.element::-webkit-scrollbar { width: 0; }
 
/* ie 10+ 
.element { -ms-overflow-style: none; }
 
/* фф (свойство больше не работает, других способов тоже нет)*/
/*.element { overflow: -moz-scrollbars-none; }*/


.main__block__scripts {
	/*padding-top: 5px;*/
	top: 0;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	position: relative;
	right: 20px;	
	max-height: 331px;
	overflow-y: scroll;

}

.main__block__scripts__item, .script__blocks__item, .devices__blocks__item  {
	min-width: 200px;
	min-height: 120px;
	margin-top: 15px;
	/*display: inline-block;*/
	background: #F7F7F7;
	border-radius: 20px;
	list-style-type: none;
	position:relative;

}

.script__blocks__item__active {
	background: #FFFFFF;
	box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.main__block__scripts__item__content, .script__blocks__item__content, .devices__blocks__item__content {
	margin-top: 15px;
	margin-left: 15px;
}

.main__block__scripts__item__content__text, .script__blocks__item__content__text, .devices__blocks__item__content__text {
	bottom: 0;
	position: absolute;	
	overflow-x:hidden;
}


.main__block__scripts__item__name, .script__blocks__item__name, .devices__blocks__item__name {
	font-family: Arial-BoldMT;
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	width: 170px;
	margin-bottom: 7px;
	white-space: pre-line;
}

.main__block__scripts__item__describe, .script__blocks__item__describe, .devices__blocks__item__describe {
	font-family: ArialMT;
	font-size: 12px;
	color: #858585;
	letter-spacing: 0;
	text-align: left;
	margin-bottom: 15px;
}


.main__block__scripts__item__next {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 18px;

}


.script {	
	width: calc(92%/2);
	color: #333333;
	padding: 0 2.5% 0 1.5%;
	/*overflow: hidden;*/
	/*z-index: 1;*/
}

.script__blocks {
	/*width: 100%;*/
	/*height: 100%;*/
	/*width: 1000px;*/
	overflow: hidden;
	/*overflow-x: scroll;*/

	width: 100%;
	position: relative;
	
}

.script__blocks__list{
	overflow: hidden;
	/*overflow-x: scroll;*/
	/*width: 200%;*/
	max-height: 330px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: relative;
	/*justify-content: flex-start;*/
}

.script__blocks__list__horizontal {
	transition: 1s;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;
	align-items: flex-start;
	

}

.script__blocks__item {
	width: 200px;
	height: 100px;
	

	/*flex: 0 auto;*/
	margin: 0 20px 15px 0;
	min-height: 100px;
}


/*.script__header {
	width: 70%;
	display: inline;	
	/*margin-right: 0;
}*/

.script__header__nav__right_arrow, .devices__header__nav__right_arrow {
	transform: scale(-1, 1);
}

.devices__header__nav__left_arrow, .devices__header__nav__right_arrow, .script__header__nav__left_arrow, .script__header__nav__right_arrow {
	margin: 0 10px;
}

.script__header__nav, .devices__header__nav {
	float: right;
	margin: 0 15px;
}



.devices {
	overflow: hidden;
	width: 97.5%;
	color: #333333;
	padding: 0 2.5%;
}

.devices__header__title {
	float: left;
}


.devices__header__menu {
	display: flex;
	flex-wrap: nowrap;
}

.devices__header__list {
	margin: 0 15px;
	margin-top: -5px;
	text-decoration: none;
	text-decoration-style: none;
}

.devices__header__list__item {
	margin: 0 4px;
	display: inline-block;
	background: #F7F7F7;
	border-radius: 20px;
}

.devices__header__list__item__active {
	display: inline-block;
	background: #FFD93E;
	border-radius: 20px;
}


.devices__header__list__item__content {
	text-align: center;
	align-content: stretch;
	align-items: stretch;
	padding: 8px 16px;
	font-family: Arial-BoldMT;
	font-size: 13px;
	color: #000000;
	text-align: left;

}

.devices__header__nav {
	margin-top: -25px;
}


.devices__blocks {
	float: left;
	/*position: absolute;*/
	min-width: 100%;
}


.devices__blocks__slider {
	overflow: hidden;
	height: 120px;
	width: 100%;
	position: relative;
	min-width: 100%;
}

.devices__blocks__list {
	right: 0;
	overflow: hidden;
	height: 120px;
	position: relative;
	/*float: left;*/
	width: 100%;
	/*position: absolute;*/
	transition: 1s;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;

}

.devices__blocks__item {
	margin: 0;
	margin-right: 15px;
	/*position: relative;*/

}

.devices__header__list__item__active__img {
	display: none;
}











@media (max-width: 1250px){

	
	.main__block__right {
		/*float: left;*/
		position: relative;
		/*padding: 10px 0px;*/
		width: 100%;
		/*height: 150px;*/
		/*max-height: 150px;*/


	}

	.main__block__scripts {
		text-decoration: none;
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		position: relative;
		max-width: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;

		padding: 0;
		right: 0px;
		margin: 0 20px;
		bottom: 15px;
		top: 15px;

	}
	
	.main__block__scripts__item {
		margin: 0 20px 0px 0;
		text-decoration: none;
		text-decoration-style: none;
		list-style: none;
		
		position:relative;

	}



	.main__block__hello {
		font-size: 18px;
	}

	.main__block__state {
		font-size: 12px;
	}

	.main__block__temperature__item {
		font-size: 12px;
	}
	
	.main__block__temperature__item span {
		font-size: 24px;
	}

	.main__block__temperature__item img {
		width: 20px;
		position: relative;
		/*top: 2px;
		left: -4px;*/
	}


}






















@media (max-width: 840px){


	html {
		overflow-y: scroll;
	}

	body {
		overflow-y: scroll; 
	}


	.footer {
		position: relative;
		bottom: 0;

	}

	.footer__menu {
		position: relative;
		flex-direction: column;
		flex-wrap: wrap;
		bottom: 0;
		justify-content: center;
		align-items: center;
		margin: 2px 0;
		padding-top: 10px;

	}

	.footer__menu__item {
		text-align: center;
		margin: 1px 0;
		border: 2px #F7F7F7 solid;
		border-radius: 20px;
		padding-top: 5px;
		padding-bottom: 5px;
		width: 95%;
		position: relative;


	}


	.copy {
		position: relative;
		padding: 0;
		margin: 15px auto 15px auto;
		align-content: center;
		justify-content: center;

	}


	.content {
		min-width: 0;
	}

	.header {
		padding-right: 2.5%;
		padding-left: 2.5%;
	}


	.header__menu {
		width: 0;
	}

	.header__menu__item, .main__header, .line {
		display: none;  
        height: auto; 
        
	}

	.section {
		display: table-cell;
		padding-top: 2px;
	}

	.header__menu__button {
	}

	.logo, .main, .footer__menu {
		/*margin-left: 5%;*/
		/*margin-right: 20px;*/
	}
	
	.main, .script {
		width: 95%;
		margin-top: 0px;
		padding: 0 2.5%
	}

	.main__block {
		width: 100%;
		border-radius: 20px;
		height: 300px;

	}


	.main__block__hello {
		font-size: 18px;
	}

	.main__block__state {
		font-size: 12px;
	}

	.main__block__temperature__item {
		font-size: 12px;
	}
	
	.main__block__temperature__item span {
		font-size: 24px;
	}

	.main__block__temperature__item img {
		width: 20px;
		position: relative;
		/*top: 2px;
		left: -4px;*/
	}

	.main__block__right {
		/*float: left;*/
		position: relative;
		/*padding: 10px 0px;*/
		width: 100%;
		/*height: 150px;*/
		/*max-height: 150px;*/

	}

	.main__block__scripts {
		text-decoration: none;
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		position: relative;
		max-width: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;


		padding: 0;
		right: 0px;
		margin: 0 20px;
		bottom: 15px;

	}
	
	.main__block__scripts__item {
		margin: 0 20px 0px 0;
		text-decoration: none;
		text-decoration-style: none;
		list-style: none;
		
		position:relative;

	}

	.main__header, .script__header, .devices__header {
		margin-bottom: 0px;

	}

	.horizontal {
		/*display: inline-block;*/
	}


	.script__blocks__list {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
	}


	.script__blocks {
		float: left;
	}

	.script__blocks__item {
		margin: 0;
		margin-right: 15px;

	}



	
	.script__blocks {
		/*overflow: hidden;*/
		/*overflow-x: scroll;*/

		max-height: 120px;
		min-width: 100%;
		
	}

	.script__blocks__list{
		overflow: hidden;
		/*overflow-x: scroll;*/
		max-height: 120px;
		height: 120px;
		float: left;
		min-width: 1935px;


		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		position: relative;
		margin: 20px 0;


	}

	.script__blocks__list__horizontal {
		min-width: 100%;
		position: relative;
		align-items: stretch;

		max-height: 120px;
		height: 120px;
		overflow: hidden;
		overflow-x: scroll;
		/*white-space: nowrap;*/

	}

	.script__blocks__item {
		/*margin: 0 20px 15px 0;*/
		min-height: 100px;
	}







	.devices__blocks, .script__blocks {
		width: 100%;
		/*min-width: auto;*/
	}



	.devices__blocks__list {
		overflow-x: scroll;
		/*min-width: 100%;*/
		margin: 20px 0;

	}

	

	/*пример с яндекс диска*/
	/*.devices__header {
		display: flex;
		justify-content: space-between;
		max-width: 425px;
	}*/

	.devices__header__list__item {
		display: flex;
		flex-direction: column;
		position: relative;
		right: 0;
		opacity: 0;
		transition: 1s;
		transform: scaleX(0);
  		transform-origin: top;
  		visibility: hidden;
  		transition-property: opacity;
	}

	.devices__header__list {
		position: absolute;
		right: 2.5%;
		z-index: 2;
		border-radius: 20px;
		justify-content: center;
		transition-property: opacity;
		margin-left: 0;
		margin-right: 0;

	}

	.devices__header__list__item__content {
		text-align: center;
		transition: 1s;


	}

	.devices__header__list__item, .devices__header__list__item__active {
		transition: 1s;
		margin-bottom: 3px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.devices__blocks__slider {
		overflow-x: scroll;

		height: 140px;
		/*min-width: 101%;*/
		/*width: 100%;*/
		/*width: 100%;*/
	}

	.devices__blocks__list {
		/*min-width: 100%;*/
		/*width: 100%;*/
		/*overflow-x: scroll;*/
		/*left: 0;*/
	}


	.devices__header__list__item__click {
		transform: scaleX(1);
		position: relative;
		transition: 1s;
		transition-property: opacity;
		/*display: block;*/
		opacity: 1;
		text-align: center;
		visibility: visible;
		z-index: 2;

	}

	
	.devices__header__list__click {
		right: 2.5%;
		transition-property: opacity;
		transform: scaleX(1);
		transition: 1s;
		opacity: 1;
		visibility: visible;
		display: flex;
		flex-direction: column;
		position: absolute;
		background: #DCDCDC;

	}


	.devices__header__list__item__active__img {
		position: relative;
		top: 3px;
		left: 4px;
		display: inline-block;
	}

	.devices__header__menu {
		float: right;
	}


	.devices__header__nav, .script__header__nav {
		display: none;
	}

}


